@import "./reset.css";
.App {
  font-family: sans-serif;
  text-align: center;
}

.img {
  width: 20%;
  height: 20%;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.div {
  text-align: center;
  padding-bottom: 10px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn {
  all: unset;
  cursor: pointer;
  background-color: white;
  padding: 5px 0px;
  width: 50px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.7);
  font-weight: 800;
  font-size: 12px;
}
